.multi-view{
    border: 0;
}

.multi-view .multi-view-panel{
    padding: 10px 0 0;
    overflow: hidden;
}

.multi-view .multi-view-tab{
    background-color: #ffffff;
    border: none !important;
}
.multi-view .multi-view-tab .z-tab-text{
    font-size: 14px;
}


.multi-view .multi-view-tab.z-tab-selected{
    border: 1px solid #ebebeb !important;
    border-bottom: none !important;
    background-color: #fbfbfb;
}

